<h1>Youtube#index</h1>
<p>Find me in app/views/youtube/index.html.erb</p>


	
<% @thumbnails_and_videos.each_slice(2) do |two_thumbnail_and_video| %>
	<%= render(partial: 'thumbnails_and_videos', locals: {two_thumbnail_and_video: two_thumbnail_and_video}) %>
<% end %>
	


<div>
	<p>Target is:

	</p>
</div>
