<h1>Youtube#index</h1>
<p>Find me in app/views/youtube/index.html.erb</p>


<%= content_tag "div", id: "thumbnail", data: {iframe: render(partial: 'iframe', locals: {video: @video})} do%>
  <%= image_tag(@thumbnail) %>
<% end %>


<div>
<p>Target is:
<!--<script>
function changeSrc()
  {
  document.getElementById("thumbnail").innerHTML= "<%= render partial: 'iframe', locals: {video: @video} %>";
  }
</script>-->
<!--<script type="text/javascript">
$("#thumbnail").click(function(){
	$(this).html("<%= render partial: 'iframe', locals: {video: @video} %>");
});

</script>-->
 </p>
 </div>
