<h1>Youtube#index</h1>
<p>Find me in app/views/youtube/index.html.erb</p>

<% @thumbnail_and_video.each do |thumbnail,video| %>
	<%= content_tag "div",image_tag(thumbnail), id: thumbnail, class: "thumbnail", data: {iframe: render(partial: 'iframe', locals: {video: video})} %>
	
<% end %>


<div>
<p>Target is:

 </p>
 </div>
